
@model TP_Pweb.ViewModels.ManageUserRolesViewModel

@{
    ViewData["Title"] = "Manager User Roles";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Gerenciar contas ativas</h1>
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Ativar/Desativar Contas</h2>
            <span class="badge bg-white text-black"> Utilizador: @ViewBag.UtilizadorNome</span>
        </div>
        @if (Model.active == true)
        {
            <label>Conta Ativa, pretende desativar?</label>
        }
        else
        {
            <label>Conta Inativa, pretende ativar?</label> 
        }

        <input asp-for="@Model.active" class="form-check-input"/>

        <p></p>

        <input type="submit" value="update" class="btn btn-primary" style="width:auto"></input>

    </div>

</form>

