@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="h1 mb-0 font-weight-bold" style="text-align:initial;font-size: 45px;">Aluguer de carros - Pesquise, compare e poupe</h1><pre></pre>
    <p style="text-align:initial;font-size: 20px;"><i class="bi bi-check2"></i>Parcerias com as melhores empresas de aluguer de carros</p>
    <p style="text-align:initial;font-size: 20px;"><i class="bi bi-check2"></i>Reservas com cancelamento gratuito</p><pre></pre>
    <partial name="~/Views/Veiculos/_QuickSearchVeiculos.cshtml" />
</div>

