@using PWEB_AulasP_2223.Data
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
	ViewData["Title"] = "Role Manager";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h1>Vista de Roles</h1>
<table class="table table-striped table-hover table-bordered mt-4">
	<thead>
		<tr>
			<th>Role</th>
			<th>Id</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Id</td>
			</tr>
		}
	</tbody>
</table>

<a asp-action="Index" asp-controller="UserRoles"> Voltar</a>

