@model TP_Pweb.ViewModels.CreateReservaInicial

@{
    ViewData["Title"] = "Details";
}
<h1>Detalhes Reserva</h1>

   @using (Html.BeginForm("CreateFromDetails", "Reservas", FormMethod.Post))
    {
    <input type="text" name="idcar" value="@Model.Veiculoid" hidden />
    <input type="date" name="di" value="@Model.di.ToString("yyyy-MM-dd")" required readonly 
		oninvalid="this.setCustomValidity('Por Favor insira uma data de começo')" 
		oninput="setCustomValidity('')" />  
    <input type="date" name="df" value="@Model.df.ToString("yyyy-MM-dd")" required readonly
		oninvalid="this.setCustomValidity('Por Favor insira uma data de fim')" 
		oninput="setCustomValidity('')" />
        <p></p>
        <label>€</label><input type="text" name="preco" value="@Model.preco" readonly/>
    <input type="submit" value="Reservar" />

}<div>
    <a asp-action="Index">Back to List</a>
</div>
